*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  lightgray!important;
}

input,textarea{
    background-color: snow!important;
    border: 1px solid lightslategray !important;
}

footer{
    text-align: center;
    color: snow;
}